# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
requirements*.txt

# Jupyter notebook clutter
.ipynb_checkpoints/

# Test data
testrecording*
