#
# Copyright (c) 2023 Ernst Strüngmann Institute (ESI) for Neuroscience
# in Cooperation with Max Planck Society
#
# SPDX-License-Identifier: CC0-1.0
#

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
requirements*.txt
.mypy_cache/

# Jupyter notebook clutter
.ipynb_checkpoints/

# Test data
testrecording*
